/* BookingForm.css */

.pending {
    background-color: #fff3cd;
  }
  
  .booked {
    background-color: #1bd145;
  }
  
  .completed {
    background-color: #caddcf;
  }
  
  .canceled {
    background-color: #df8a91;
  }
  
  .today {
    background-color: #166dca;
  }
  
  .next-day {
    background-color: #9db0d6;
  }
  
  .booking-form {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    margin: 5px;
  }
  
  .assignees {
    display: flex;
    flex-direction: column;
  }
  
  .assignee-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Adjust space between checkboxes if needed */
    padding: 5px;
    border-radius: 4px;
  }
  
  .assignee-label input[type="checkbox"] {
    margin-right: 8px; /* Adjust space between checkbox and text */
  }
  
  /* Highlight when checkbox is selected */
  .assignee-label input[type="checkbox"]:checked + span {
    background-color: #d1e7dd; /* Adjust highlight color */
    border: 1px solid #0f5132; /* Adjust border color */
  }
  